/* 
   formatting for the txt2tags site
   http://txt2tags.org
   
   author: aurelio jargas
   http://aurelio.net
   
   license: public domain


   re-used with nearly no modification
   by N.P. Khelili
   
*/

/*

**************************** global **************************** 
 here are the global rules, used everywhere on the page. 

*/

dt {
	font-weight : bold;
	text-decoration : underline;
}


 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


textarea { 
	height: auto; 
	width: 100%;	
	resize: none;}

img {
    display: block;

    height: auto;
    max-height: 500px;

    margin-left: auto;
    margin-right: auto;

    width: auto;
    max-width: 75%;
    }





body
	{
	color		: #444;
	margin		: 0;
	padding		: 0;
	font-family : sans-serif;
	overflow	: scroll;  /* avoids dancing menu */
	overflow-x	: auto; /* ie: horizontal bar is sooo large */
	background-color : #DDD;
	}


/* links are underlined only when the cursor is over them */
a
	{
	text-decoration : none;
	}
a:link
	{
	color		: blue;
	font-weight : bold;
	}
a:hover
	{
	text-decoration : underline;
	background		: #ccf;
	}
a:visited
	{
	color		: #66f;
	}

/* that nice green background on some words and code samples */
code
	{
	font-weight 	: bold;
	font-family 	: courier;
	background-color: #CCC;
	border		: 1px dotted #ddd;
	}
pre
	{
	font-family 	: courier;
	background-color: #000;
	color : white;
	text-decoration: bold;
	margin-left : 3em;
	margin-right	: 2em;
	padding		: 8px;
	border		: 1px outset gray;
	}

/* tables are used by: docs, sample */
table
	{
	font-size	: 100%; /* needed to inherit the body font size*/
	border-color	: #ccc;
	}
th
	{
	background-color: #ddd;
	padding		: .5em 0;
	border-color	: #ccc;
	border-style	: solid;
	}
td
	{
	border-style	: none;
	padding		: .2em .5em;
	}

form
	{
	margin-bottom	: 2em;
	}

/* mark the tooltip'ed texts (underline and highlight) */
span.tooltip
	{
	border-bottom	: 1px dashed #444;
	}
span.tooltip:hover
	{
	background-color: #cf9;
	}
a.donate
	{
	font-size	: smaller;
	text-align	: center;
	margin		: 0;
	padding		: 0;
	}

/***************************** headers **************************** 
/ remember that headers are the first three lines of the source file.
/ they are placed inside the #header div when using --css-suggar.
/ so we can format it freely without messing other rules.
/
/ yes, it is that green strip at the top. note that the white gems
/ image is referred as background.
*/

#header
	{
	background	: #6c6;
	color		: white;
	margin		: 0;
	padding		: 1em;
	}
#header *
	{
	margin		: 0;
	color		: black;
	}
#header h3
	{
	font-weight : normal;
	color		: black;
	}
#header a
	{
	color		: white;
	color		: black;
	text-decoration : none;
	}
#header a:hover
	{
	background	: transparent;
	color		: black;
	}


/***************************** content **************************** 
/ the page contents are placed inside the #body div when using
/ the --css-suggar option. don't confuse it with the <body> tag.
/ i know it would be better to call it #content, but... too late.
/
/ inside #body there are the sidebar and the page contents. the
/ sidebar has its own div, but the contents doesn't. i could have
/ made an extra div for it, but it is not strictly necessary. so
/ some special care is needed to format both using the same container.
*/

#body
	{
	margin		: 0;
	padding		: 0 2em 2em 2em;
	border-top	: 1px solid #6c6; /* required: fixes spacing bug */
	line-height : 130%;
	font-size	: 90%;
	_font-size	: 80%; /* ie: font becomes ugly with 90% */
	}

/* normal text is gray, bold is black */
#body b
	{
	font-weight : bold;
	color		: black;
	}

#body h1
	{
	margin-top	: 1.5em;
	}
#body h2
	{
	padding-top : 1em;
	color		: #444;
	font-size	: 150%;
	font-weight : normal;
	}
